  <body>
    <form class="w-50 m-auto my-5">
      <label for="inputPassword" class="form-label">Nueva contraseña:</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        aria-describedby="passwordHelpBlock"
        autocomplete="new-password"
      />
      <button
        id="newPasswordButton"
        type="button"
        class="btn form-control btn-primary"
        data-token="<%= token %>"
      >Guardar</button>
      <div id="passwordHelpBlock" class="form-text">
        Su contraseña debe tener entre 8 y 20 caracteres, contener letras y
        números, y no debe contener espacios, personajes o emoji.
      </div>
      <input type="hidden" id="token" value="{{token}}">
    </form>
    <script src="/scripts/forgotpassword.js"></script>
  </body>
