<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        {{!-- <div class="imglogo h-50 w-50">
            <img src="https://i.postimg.cc/BQfXy7FT/tufrutiya.png" alt="TU FRUTI YA!">
        </div> --}}
        <a class="navbar-brand" href="http://localhost:8080/">TU FRUTI YA!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="http://localhost:8080/">Home</a>
                {{!-- test page - web socket <a class="nav-link" href="http://localhost:8080/products/real">Real</a>
                --}}
                {{#if isLoggedIn}}
                <a class="nav-link" href="http://localhost:8080/products">Products</a>
                <a class="nav-link" href="http://localhost:8080/products/form">Form</a>
                <a class="nav-link" href="http://localhost:8080/orders">Orders</a>
                <button id="logout">Signout</button>
                {{else}}
                <a class="nav-link" href="http://localhost:8080/sessions/register">Register</a>
                <a class="nav-link" href="http://localhost:8080/sessions/login">Login</a>

                {{/if}}
            </div>
        </div>
    </div>
</nav>